html {
    font-family: Consolas, monospace;
}
body {
    margin: 0;
}
body * {
    box-sizing: border-box;
}
.fa {
    color: white;
}
.noselect {
    user-select: none;
    -webkit-user-select: none;
}
.drag {
    -webkit-app-region: drag;
}