html {
    font-family: Consolas, monospace;
}
body {
    margin: 0;
}
body * {
    box-sizing: border-box;
}
.fa {
    color: white;
}
.noselect {
    user-select: none;
    -webkit-user-select: none;
}
.drag {
    -webkit-app-region: drag;
}
input {
    font-family: Consolas;
    font-size: 150%;
}
#list {
    list-style: none;
    font-size: 150%;
}
#input {
    outline: none;
    border: none;
}
li {
    cursor: pointer;
}
li:hover {
    text-decoration: line-through;
}
